

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/HeaderStyle.css" rel="stylesheet" />
<header class="accordion-collapse">
    <img src="~/Images/Aws.png" />
    <nav>
    </nav>
</header>
  <section>
      <nav>  
      <h4>
        Range Rover
      </h4>
      </nav>
      <main>
        
      </main>
      <aside>
          <p>Range Rover Adds........</p>
          <video controls="controls">
              <source src="~/Videos/RangeRoverAdd.mp4" type="video/mp4" />
          </video>
      </aside>
  </section>
<footer>

</footer>
  